<footer class="footer mt-auto">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 mb-3">
        <h5 class="text-primary-dark mb-3">ASHUTOSHoes</h5>
        <p class="mb-0">Premium footwear engineered for the urban frontier.</p>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <h5 class="text-primary-dark mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#about" class="text-decoration-none">About Us</a></li>
          <li><a href="#contact" class="text-decoration-none">Contact</a></li>
          <li><a href="#shipping" class="text-decoration-none">Shipping Info</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 mb-3">
        <h5 class="text-primary-dark mb-3">Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="#return" class="text-decoration-none">Return Policy</a></li>
          <li><a href="#refund" class="text-decoration-none">Refund Policy</a></li>
          <li><a href="#faq" class="text-decoration-none">FAQ</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0">&copy; 2024 ASHUTOSHoes. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
