<% layout ("layouts/boilerplate") %>
<div class="box" style="padding-top: 10px;">
    <div class="alert alert-danger" role="alert">
        <h2><%= err.name %></h2>
        <%= message %>
        <hr>
        <p><%= err.stack %></p>
    </div>

</div>